body {
  background-color: #ffbef9;
  opacity: 0.8;
  background-image: radial-gradient(#cc7dff 0.75px, transparent 0.75px), radial-gradient(#cc7dff 0.75px, #ffbef9 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  margin: 0; 
  height: 100vh; 
  display: flex; 
  justify-content: center;
  align-items: center; 
}
.header{
  text-align: center;
  font-size: 2rem;
  color: #000000;
  margin-bottom: 20px;
}

.img-form{
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
  display: block;
}

